<%- include('parts/meta') %>
<meta name="description" content="Fast, customizable, user friendly bot YOUR BOT!" />
<title>Mytho Document</title>
</head>
<body>
<%- include('parts/head') %>

<center>
<h1 style="font-weight: bold; color: var(--font-color); font-size: 27px; padding: 25px 0 20px 0;"><span style="border-bottom: 2.5px solid var(--page-color);">Working</span></h1>
    
  </div>
<br><br><br><br><br>
<%- include('parts/footer') %>
</body>
