<%- include('parts/meta') %>
<meta name="description" content="Fast, customizable, user friendly bot YOUR BOT!" />
<title>Mytho Terms of Services</title>
</head>
<body>
<%- include('parts/head') %>

<center>
<h1 style="font-weight: bold; color: var(--font-color); font-size: 27px; padding: 25px 0 20px 0;"><span style="border-bottom: 2.5px solid var(--page-color);">Terms of Services SOON</span></h1>

  <h3 class="privacy_title">1. Acceptance of Terms<br><span class="privacy_text">By accessing and using the Mytho Discord bot “Mytho”, you agree to be bound by these Terms of Use "Terms". These Terms are a legal agreement between you and Reduce (the “Company”), the operator of Mytho. If you do not agree to these Terms, please do not use Mytho.</span></h3>
  
    <h3 class="privacy_title">2. Description of Service<br><span class="privacy_text">Mytho is a safeguard bot designed to enhance the security and management of Discord servers. It offers various functionalities that help manage server interactions and protect against common security threats.</span></h3>

    <h3 class="privacy_title">3. Modifications to Terms<br><span class="privacy_text">The Company reserves the right, at its discretion, to modify these Terms at any time. You are responsible for reviewing and becoming familiar with any such modifications. Use of the Services by you following such notification constitutes your acceptance of the terms and conditions of the Terms as modified.</span></h3>

  <h3 class="privacy_title">4. Use of the Service<br><span class="privacy_text">You agree to use Mytho only for purposes that are permitted by these Terms and any applicable law, regulations, or generally accepted practices or guidelines in the relevant jurisdictions.</span></h3>

  <h3 class="privacy_title">5. Your Registration Obligations<br><span class="privacy_text">You may be required to register with Discord and be logged into your account to access Mytho. You are responsible for maintaining the confidentiality of your login information and are fully responsible for all activities that occur under your account.</span></h3>

  <h3 class="privacy_title">6. Privacy Policy<br><span class="privacy_text">Information collected about you is subject to the terms of our Privacy Policy, which is hereby incorporated into and made part of these Terms. Please review our Privacy Policy to understand our practices in this area.</span></h3>

  <h3 class="privacy_title">7. Termination<br><span class="privacy_text">The Company may terminate or suspend access to Mytho immediately, without prior notice or liability, for any reason whatsoever, including, without limitation, if you breach the Terms.</span></h3>

  <h3 class="privacy_title">8. Disclaimer of Warranties<br><span class="privacy_text">Mytho is provided "as is" and "as available" without warranty of any kind. Your use of Mytho is at your sole risk. The Company expressly disclaims all warranties, whether express, implied, statutory, or otherwise, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</span></h3>
    
  </div>
<br><br><br><br><br>
<%- include('parts/footer') %>
</body>
