<footer id="footer">
		<div class="copyright">
				<p>© <a href="https://discord.gg/Et5mJAAqxb">iMytho</a> All rights reserved. We are not affiliated with Discord.</p>
				<p><a href="/privacy">Privacy Policy</a> · <a href="/tos">Terms of Services</a> · <a href="/commands">Commands</a> · <a href="/docs">Documentation</a> · <a href="/faq">FAQ</a></p>
		</div>
</footer>
